body {
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    height: 100vh;
    margin: 0;
    /* display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; */
    text-align: center;
}

.title-container, .info, .quotes{
    padding: 0 100px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    /* display: flex; */
    gap: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

h3, h2, p {
    margin: 0;
}

/* h2 {
    font-size: 48px;
} */

.header, .footer, .title-container {
    background-color: #1F2937;
}

.header {
    /* display: flex;
    flex-direction: row; */
    /* flex: 1 1 0; */
    /* justify-content: space-between; */
    padding: 20px 100px;
}

.left-links {
    font-size: 24px;
}

.right-links {
    align-self: center;
}

.footer {
    padding: 20px 100px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* Below styles the second section of this project, the title section under the header */

.title-container {
    /* display: flex;
    flex: 1; */
    gap: 15px;

}

.first-section {
    font-size: 18px;
    color: #E5E7EB;
    /* display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    align-items: flex-start; */
}

.second-section{
    background-color: grey;
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-self: center; */
    width: 50%;
    height: 25%;

}

/* Below styles the third section of this project, the Information section */

.info {
    color: #1F2937;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* flex: 1; */
    gap: 40px;

}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    /* display: flex; */
    /* justify-content: stretch; */
    width: 100%;

}

.info-card {
    border-radius: 25px;
    border: 3px solid blue;
    height: 150px;
    width: 150px;
}


/* Below styles the fourth section of the this project, the Quotes section */

.quotes {
    background-color: #E5E7EB;
    color: #1F2937;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex: 1; */
}

/* Below styles the fifth section of this project, the Sign-Up section*/


.sign-up {
    padding: 50px 100px;
}

.sign-up-box {
    border-radius: 10px;
    background-color: blue;
    /* display: flex;; */
    /* justify-content: space-around; */
    /* flex: 1; */
    padding: 35px;
}

.sign-up-text {
    justify-content: center;
    align-items: center;
}

#sign-up-button2 {
    align-self: center;
}