body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ul and li look like trash. Can this be reduced/removed? */
ul {
    display: flex;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header {
    background-color: #1F2937;
}

.right-links {
    display: flex;
    flex-grow: 1;
    gap: 25px;
    justify-content: center;
}

.left-links {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}



.title-container {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: stretch;
    /* gap: 50px; */
}

.first-section {
    display: flex;
    flex-direction: column;
    width: 50%;
}
