body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

/* .body-container {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
} */

.title-container, .info, .quotes, .sign-up {
    padding: 0 100px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 18px;
}

h3, h2, p {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    /* flex: 1 1 0; */
    justify-content: space-between;
    padding: 20px 100px;
}

.footer {
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Below styles the second section of this project, the title section under the header */

.title-container {
    display: flex;
    flex: 1;

}

.first-section {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    align-items: flex-start;
}

.second-section{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 50%;
    height: 25%;

}

/* Below styles the third section of this project, the Information section */

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;

}

.info-header {
    display: flex;
    justify-content: center;
    width: 100%;

}

.info-card {
    border-radius: 25px;
    border: 3px solid blue;
    height: 150px;
    width: 150px;
    
}

/* Below styles the fourth section of the this project, the Quotes section */

.quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* Below styles the fifth section of this project, the Sign-Up section*/

.sign-up-box {
    border-radius: 10px;
    background-color: blue;
    display: flex;;
    justify-content: space-around;
    padding: 35px;
    flex: 1;
}

.sign-up-text {
    justify-content: center;
    align-items: center;
}

#sign-up-button2 {
    align-self: center;
}